.signin {
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.signin-title {
    text-align: right;
    width: 74%;
    margin: 50px 0 0;
}

.signin-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signin-img {
    width: 500px;
    align-items: left;
}

.signin-column {
    align-items: center;  
    max-width: 500px;
    padding: 20px;
    width: 70%; 
    justify-content: space-around;
}

.signin-column-text {
    text-align: center;
    width: 80%;
    padding: 10px 0;
}

.sign-brand-logo {
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    cursor: pointer;
    padding: 5px 0;
}

.underline {
    text-align: center;
    padding: 5px 0;
    width: 80%;
}

.form-submit button {
    height: 40px;
    width: 370px;
    margin: 7px 0;
    border-radius: 10px;
    background-color: #8766FF;
    border-color: white;
}

.form-item-log input[type="text"],.form-item-log input[type="email"],.form-item-log input[type="password"] {
    width: 80%;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 15px;
    border-radius: 10px;
}